---
import {
  translations,
  sharedTranslations,
  getStaticPaths,
} from "../../utils/i18n.js";

export { getStaticPaths };

const { lang } = Astro.params;

const t = translations[lang] || translations.en;
const tshared = sharedTranslations;
import LanguageSwitcher from "../../components/LanguageSwitcher.astro";
import LanguageMeta from "../../components/LanguageMeta.astro";
import Footer from "../../components/Footer.astro";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t["nav.imprint"]}</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <LanguageMeta />
  </head>
  <body>
    <header>
      <strong>{t["siteTitle"]}</strong>
      <LanguageSwitcher lang={lang} t={t} tshared={tshared} />
    </header>

    <main>
      <h1>{t["impressum.title"]}</h1>
      <p><strong>{t["impressum.subtitle"]}</strong></p>
      <p>
        Harald Mayer<br />
        Kienmayergasse 43<br />
        1140 Wien<br />
        Österreich
      </p>
      <p>
        <strong>{t["impressum.contact"]}</strong><br />
        E-Mail: <a href="mailto:info@escvienna2026.com"
          >info@escvienna2026.com</a
        >
      </p>
      <p>{t["impressum.notice"]}</p>
      <p><a href={`/${lang}/`}>{t["backToHome"]}</a></p>
    </main>
    <Footer lang={lang} t={t} />
  </body>
</html>
